.headerBlockBig{
	width: 100%;
    background: #c64379;
    background-image: url(/Assets/Images/hero-img@2x.png);
    background-size: auto 448px;
    background-position: 50% 0px;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
}

.searchTextBox{
	border-radius: 10px;
	background: white;
	padding:20px;
	min-width: 600px;
	border:none
}

.searchButton{
	margin-left: -110px;
	min-width:90px;
	cursor:pointer;
	color:#fff;padding: 15px;
	background: #d05d84;
	border-radius: 20px;
	border:none
}

.artistImage{
	position:relative;
	width:300px;
	height:400px
}

.artistName{
	position: absolute;
    bottom: 0;
    background: white;
    width: 100%;
    padding: 25px 0px;
    border-radius: 1px;
    text-align: center;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
}
@media (max-width:480px)  { 

	.headerBlockBig{
		height: 558px;
		background-position: 50%;
	    background-repeat: no-repeat;
	    background-size: 100% 37%;
	    background-position-x: -2px;
	}
	.headerBlockBig img{
		max-height: 60px !important;
	}

	.searchTextBox{
		width: 82%;
	    min-width: 73px;
	}

	.searchButton{
		width: 35%;
   		margin: 18px 0;
	}

	.artistImage{
		position: relative;
	    width: 300px;
	    height: 400px;
	    /* background-position: 50%; */
	    background-repeat: no-repeat;
	    background-size: 30% 20%;
	    background-position-x: 23px;
	}

	.artistName{
	    left: 113px;
	    width: 29%;
	    padding: 31px 96px;
	    bottom: auto;
	}
}